*{
    margin:0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Supermercado One', 'cursive';
}
.tardishoot{
    display:none;
    background: url("./space_tardigrade.jpg") center no-repeat;
    background-size: cover;
    background-position-y: 200px;
    width:100%;
    height: 100%;
    
}
.hiddentardipic{
    
    background: url("./spacing_tardi.jpg") left no-repeat;
    
    width:100%;
    height: 100%;
}

.spacetardigrade{
    
    
    width: 100%;
    height: 400px;
   
}
.spacetardigrade h2{
    margin: auto;
    text-align: center;
}


.spacetardigrade p{
    margin-top: 20px;
    margin: auto;
    width:80%;
    
}
.hiddentardi{
    display:none;
}
.hiddentardipic{
    margin: auto;
    width: 100%;
    height: 400px;
}

.tardip{
    
    background-position: center;
    width:100%;
    
}


@media (min-width: 1000px) {
    .verticality{
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }
    .spacetardigrade{
        text-align: center;
        height: 400px;
    }
    .spacetardigrade h2{
        margin-bottom: 50px;
        margin: auto;
    }
    .spacetardigrade .hiddentardi{
        display: flex;

    }
    .hiddentardipic{
        height:500px;
        width: 100%;
    }
    .tardip{

        width: 1150px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .tardishoot{
        display:flex;
        background-position-y:center;
    }

    .spacetardigrade p{
        width: 100%;
    }
    
   
    
}